@font-face {
    font-family: 'Minion Pro';
    src: url('MinionPro-Medium.woff2') format('woff2'),
        url('MinionPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Minion Pro';
    src: url('MinionPro-Regular.woff2') format('woff2'),
        url('MinionPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Minion Pro';
    src: url('MinionPro-Bold.woff2') format('woff2'),
        url('MinionPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

